
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../img/fondo10.webp) ;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.titulo{
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 50%;
    margin-left: 20px;
    margin-right: 20px;
   
}

.navigation a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 3px;
    transform-origin: right;
    transform: scaleZ(0);
    transition: transform .2s;


}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}



.navigation .btnCompra{
    width: 80px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 300;
    margin-left: 50px;
    transition: .5s;
}
.navigation .icon{
    font-size: 1.8em;
}




/*barra search*/
.container{
    width: 100%;
    height: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.titulo-consulta{
    font-size: 1.8em;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    padding: 2rem;
   
    
}


 .form{
    background: #fff;
    width: 600px;
    height: 55px;
    display: flex;
    border-radius: 20px;
}

.form input{
    flex: 1;
    border: none;
    outline: none;
    
}

.form button{
    background: #009879;
    padding: 10px 50px;
    border: none;
    outline: none;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    user-select: none;
    
    
}

.form button:hover{
    background: #00897E;
}

.form .search{
    align-self: center;
    padding: 10px 20px;
    font-size: 1.2em;
    color: #777;
}

.table-wrapper{
    margin: 10px 70px 70px;
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    
    
}

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.content-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
}

.content-table th,
.content-table td {
    padding: 12px 15px;
}

.content-table tbody tr {
    border-bottom: 1px solid #f3f3f3;
    background:  #f3f3f3 ;
}

.content-table tr:nth-child(even) {
    background-color: #dddddd;
}


.submit-update {

    border: none;
    outline: none;
    background-color: royalblue;
    padding: 8px;
    border-radius: 10px;
    flex: 1;
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    text-align: center;
    text-decoration: none;
  }

  
  .submit-update:hover {
    background-color: rgb(56, 90, 194);
  }

  .submit-danger {
    text-decoration: none;
    border: none;
    outline: none;
    background-color: rgb(231, 85, 80);
    padding: 8px;
    border-radius: 10px;
    flex: 1;
    margin-right: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    text-align: center;
  }

  
  .submit-danger:hover {
    background-color: rgb(226, 64, 59);
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


.navigation {
    display: flex;
    align-items: center; 
}

.navigation .dropdown {
    margin-left: auto; 
}

.navigation a, .navigation .dropdown {
    margin-left: 20px; 
}

.navigation .dropbtn{
    width: 80px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 300;
    margin-left: 10px;
    transition: .5s;
}
  