
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    
    
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../img/fondo10.webp) ;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.titulo{
    font-size: 2em;
    color: white;
    user-select: none;
}

.navigation a{
    position: relative;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    font-weight: 50%;
    margin-left: 20px;
    margin-right: 20px;
   
}

.navigation a::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 3px;
    background: white;
    border-radius: 3px;
    transform-origin: right;
    transform: scaleZ(0);
    transition: transform .1s;


}

.navigation a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
   
}




.navigation .btnCompra{
    width: 80px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 300;
    margin-left: 50px;
    transition: .5s;
}
.navigation .icon{
    font-size: 1.8em;
}

section{
    padding: 70px 20% 60px;
    justify-content: center;
   
   
}

.home{
    position: right;
    height: 50%;
    width: 500%;
   
    background-size:cover ;
    background-position: bottom center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: black;
    opacity: 0.8;
}

.home-text h1{
    font-size: 10vh;
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 20px;
    color: white;
}

.home-text p{
    font-size: var(--p--font);
    font-weight: 500;
    line-height: 30px;
    color: white;
   
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}


.navigation {
    display: flex;
    align-items: center; 
}

.navigation .dropdown {
    margin-left: auto; 
}

.navigation a, .navigation .dropdown {
    margin-left: 20px; 
}

.navigation .dropbtn{
    width: 80px;
    height: 40px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color: white;
    font-weight: 300;
    margin-left: 10px;
    transition: .5s;
}
