<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="/css/consulta.css" />
    <title>Document</title>
</head>


<body>
   <header>
    <h2 class="titulo">Muebleria</h2>
    <nav class="navigation">
        <a  href="/cargarIndex" >Inicio</a>
         <a  href="/cargarProductos" >Producto</a>
        <a  href="/cargarMantenedores" >  Mantenedores</a>     
        <a  href="/cargarConsulta" >Consultas</a>     
        <a  href="/cargarReportes" >Reportes</a>
        <button class="btnCompra"  onclick="redirectCarrito()"><ion-icon  class="icon"  name="cart-outline" ></ion-icon></button>
    </nav>
    
  </header>
    
    
    <section class="container">
        <div class="titulo-consulta"> 
            <h3 >Consulta Proveedor</h3>
        </div>
       <form action="/prov/buscar" method="post" class="form">
            <ion-icon class="search" name="search"></ion-icon>
            <input type="text" name="razon" id="razon" placeholder="buscar por nombre">
            <button type="submit">BUSCAR</button>
        </form>

        <div class="table-wrapper">
            <table class="content-table" th:object="${proveedores}">
                <thead>
                  <tr>
                    <th>Codigo</th>
					<th>Razon Social</th>
					<th>RUC</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
             <tbody>
						 <tr th:each="proveedores : ${lstProveedores}">
                           <td th:text="${proveedores.cod_provee}"></td>
                           <td th:text="${proveedores.razon}"></td>
        				   <td th:text="${proveedores.ruc}"></td>
							<td><a class="submit-update" th:href="@{/cargar/actualizarProv/{codProvee}(codProvee=${proveedores.cod_provee})}">Editar</a> <a th:href="@{/prov/eliminar/{codProvee}(codProvee=${proveedores.cod_provee})}" class="submit-danger">Eliminar</a></td>
						</tr>
					</tbody>
            </table>
        </div>
    </section>

    
    
    


</body>



</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" ></script>
<script  type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script >
	function redirectCarrito() {
    window.location.href = "/cargarCarritoCompras";
	}
</script>