<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/EditarUsuario.css">
</head>
<body>
    <header>
        <h2 class="titulo">Muebleria</h2>
        <nav class="navigation">
            <a  href="/cargarIndex"  >Inicio</a>
             <a  href="/cargarProductos" >Producto</a>
            <a  href="/cargarMantenedores" >Mantenedores</a>     
            <a  href="/cargarConsulta" >Consultas</a>      
            <a  href="/cargarReportes" >Reportes</a>
            <div class="dropdown">
                <button class="dropbtn"> <ion-icon class="icon" name="person-outline"></ion-icon> </button>
                <div class="dropdown-content">
                      <a th:text="${ u.usuario}" ></a>
                        <a href="/cargarEditarPerfil">Editar perfil</a>
                        <a href="/CerrarSesion">Cerrar sesión</a>
                </div>
            </div>
            <button class="btnCompra"  onclick="redirectCarrito()"><ion-icon   class="icon"  name="cart-outline" ></ion-icon></button>
        </nav>
    </header>
    <div class="contenedor">
        <div class="form-box update">
            <h2>EDITAR PERFIL</h2>
            <form action="/usuario/actualizar"    method="post">
                <div class="input-box">
                    
                    <input class="input-text" id="nombreInput" type="text" name="nombre" th:value="${u.nombre}"  readonly>
                    <button class="icon"  type="button"  onclick="toggleEdit('nombreInput')"> <ion-icon  name="pencil-outline" ></ion-icon> </button>
                </div>
                <div class="input-box">
                    
                    <input class="input-text" id="apellidoInput" type="text" name="apellido" th:value="${u.apellido}"  readonly>
                    
                    <button class="icon"  type="button"  onclick="toggleEdit('apellidoInput')"> <ion-icon  name="pencil-outline" ></ion-icon> </button>
                </div>
                <div class="input-box">
                    
                    <input  class="input-text" id="usuarioInput"type="text" name="usuario" th:value="${u.usuario}" readonly>
                    <label></label>
                    <button class="icon"  type="button"  onclick="toggleEdit('usuarioInput')"> <ion-icon  name="pencil-outline" ></ion-icon> </button>
                </div>
                <div class="input-box">
                
                    <input  class="input-text" id="contraseñaInput" type="text" name="clave" th:value="${u.clave}"  readonly>
                    
                    <button class="icon"  type="button"  onclick="toggleEdit('contraseñaInput')"> <ion-icon  name="pencil-outline" ></ion-icon> </button>
                </div>
                <div class="input-box">
                    
                    <input  class="input-text" id="dateInput" type="date"  name="fnacim" th:value ="${u.fnacim}" readonly >
                    <button class="icon"  type="button"  onclick="toggleEdit('dateInput')"> <ion-icon  name="pencil-outline" ></ion-icon> </button>
                    <label></label>
                    
                </div>
               

                <button type="submit"  class="btn">Actualizar</button>
            
            </form>
        </div>
    </div>
</body>
</html>
<script  type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="js/EditarUsuario.js"></script>
<script >
	function redirectCarrito() {
    window.location.href = "/cargarCarritoCompras";
	}
</script>