<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/login.css" >
    <title>Document</title>
</head>
<body>
        <div class="contenedor">
			   
            <div class="form-box login" >
                <h2>BIENVENIDO</h2>
                 <form action="/login"  method="post" >
                    <div class="input-box">
                        <span  class="icon" ><ion-icon name="person"></ion-icon></span>
                        <input name="txtUsuario" class="input-text" type="text" required  placeholder="Usuario" >
                        <label></label>
                    </div>
                    <div class="input-box">
                        <span  class="icon" ><ion-icon name="lock-closed"></ion-icon></span>
                        <input name ="txtClave" class="input-text" type="password" required placeholder="Contraseña">
                        <label  > </label>
                    </div>
                   
                    <button type="submit" class="btn">Login</button>
                    <p th:text="${error}" class="error"></p>
                    <div class="login-register">
                        <p> ¿No tienes una cuenta?<a href="#" class="registrer-link"> Cree una</a></p>
                    </div>
                </form>
                 
            </div>

            <div class="form-box register">
                <h2>CREAR CUENTA</h2>
                 <form action="/usuario/grabar"  th:object="${usuarios}"  method="post" >
					
                    <div class="input-box">
                        <span class="icon" ><ion-icon name="accessibility"></ion-icon> </span>
                        <input class="input-text"  type="text"  pattern="^[A-Za-z\s]+$" required  placeholder="Nombre" th:field="*{nombre}" >
                        <label></label>
                    </div>
                    <div class="input-box">
                        <span class="icon" ><ion-icon name="accessibility"></ion-icon> </span>
                        <input class="input-text"  type="text" pattern="^[A-Za-z\s]+$" required  placeholder="Apellido"  th:field="*{apellido}">
                        <label></label>
                    </div>
                    <div class="input-box">
                        <span class="icon" ><ion-icon name="person"></ion-icon> </span>
                        <input  class="input-text" type="text"  required  placeholder="Usuario" th:field="*{usuario}">
                        <label></label>
                    </div>
                    <div class="input-box">
                        <span class="icon" ><ion-icon name="lock-closed"></ion-icon> </span>
                        <input  class="input-text"  type="text"  required placeholder="Contraseña" th:field="*{clave}">
                        <label></label>
                    </div>
                    <div class="input-box">
                        <span class="icon" ><ion-icon name="calendar-clear"></ion-icon> </span>
                        <input  class="input-text" type="date" required  th:field="*{fnacim}" >
                        <label></label>
                    </div>
                    <div class="input-box">
                        <span class="icon" ><ion-icon name="caret-down-outline"></ion-icon> </span>
 
                            <select id="inputProv" class="form-control"  th:field="*{tipo}"  >
						<option value="-1">Seleccione...</option>
						<option th:each="u : ${lstTipoUsuario}" th:value ="${u.idtipo}"  th:text ="${u.descripcion}"></option>
					</select>
                    </div>
                    <button type="submit"  class="btn">crear cuenta</button>
                    <div class="login-register">
                        <p>¿ya tienes una cuenta? <a href="#" class="login-link" > Ingrese aqui </a></p>
                    </div>
                    
                </form>
            </div>
        </div>

        
</body>

</html>

<script src="js/Login.js"></script>
<script  type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>



