<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  rel="stylesheet" href="/css/mantenedor.css" />
    <title>Document</title>
</head>

<body>
	 <header>
    <h2 class="titulo">Muebleria</h2>
    <nav class="navigation">
        <a  href="/cargarIndex" >Inicio</a>
         <a  href="/cargarProductos" >Producto</a>
        <a  href="/cargarMantenedores" >  Mantenedores</a>     
        <a  href="/cargarConsulta" >Consultas</a>     
        <a  href="/cargarReportes" >Reportes</a>
        <button class="btnCompra"  onclick="redirectCarrito()"><ion-icon  class="icon"  name="cart-outline" ></ion-icon></button>
    </nav>
    </header>
    <form class="form" action="/empleado/grabar" method="post" th:object="${empleado}">
        <p class="title">MANTENEDOR EMPLEADO </p>   
        <label>
            <input  placeholder="" type="text" class="input" th:field="*{codigo}">
            <span>codigo</span>
        </label> 
            
        <label>
            <input  placeholder="" type="text" pattern="^[A-Za-z\s]+$" title="Ingresa solo letras" class="input"  th:field="*{nombre}">
            <span>Nombre</span>
        </label>
        <label>
            <input  placeholder="" type="text" pattern="^[A-Za-z\s]+$" title="Ingresa solo letras" class="input" th:field="*{apellido}">
            <span>Apellido</span>
        </label>
         <select th:field="*{puesto}"
								id="inputState" class="form-control">
								<option  class="option" selected value = "-1">Puesto</option> 
								<option  th:each="p : ${lstPuesto}" 
								 th:value="${p.id_puesto}"
								 th:text="${p.des_puesto}" ></option>
								
							</select>
        
        
        <div class="button-container">
            <button href="/empleado/grabar" name="btn" value="reg" class="submit">Modificar</button>
            <a href="/cargarMantenedorEmpleado" class="submit">Limpiar</a>
          <button  class="submit" name="btn" value="reg" >Crear</button>
           <button class="submit" name="btn"  value="fil" >Filtro</button>
            <a href="/reporteempleado"  target="_blank" class="submit" > PDF</a>
            
        </div>
       
    </form>

    
 
	
</body>
</html>
<script type="text/javascript">
function Viajar(){

	location.replace('\Mantenedores.html');
	
}
</script>


<script  type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" ></script>
<script >
	function redirectCarrito() {
    window.location.href = "/cargarCarritoCompras";
	}
</script>
